<?xml version="1.0"?>
<!--
/**
 * @category  Ecomteck
 * @package   Ecomteck_Minify
 * @author    Ecomteck
 * @copyright Copyright (c) Ecomteck (https://ecomteck.com)
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ecomteck_minify>
            <general>
                <enabled>0</enabled>
                <max_minification>0</max_minification>
                <compatibility>0</compatibility>
                <remove_comments>0</remove_comments>
            </general>
        </ecomteck_minify>
    </default>
</config>
